<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TwinstaGram</title>  
  @entryPointStyles('mainCss')
  @entryPointScripts('mainScript')
</head>

<body>
    <div class="main">
      
      <div class="sidebarL">
        <a id="logo" href="{{ route('home.index')}}"><h2>TwinstaGram</h2></a>
          <ul>
            <div class="menu-list">
              <li><a href="{{ route('home.index')}}">Página Inicial</a></li>
              <li><a href="#">Mensagens</a></li>
              <li><a href="#">Notificações</a></li>
              <li><a href="{{ route('profileUser.show', {id: auth.user.id})}}">Perfil</a></li> 
              <li><a href="{{ route('settings')}}">Cofigurações</a></li>
            </div>
            <div class="user-info">
              <a href="{{ route('profileUser.show', {id: auth.user.id})}}">
                <button id="btn-message" class="button-message">
                    <div class="content-avatar">
                      <div class="avatar">
                        <img id="photo" src="{{`/photos/${ auth.user.photo }`}}" alt="">
                      </div>
                    </div>
                    <div class="notice-content">
                        <div class="username">{{auth.user.email}}</div>
                        <div class="lable-message">{{auth.user.name}}</div>
                        <div class="user-id">{{auth.user.name}}</div>
                    </div>
                </button>
              </a>
            </div> 
          </ul>       
      </div>

      <div class="center">
          @!section('home')
          @!section('post')
          @!section('profile')
          @!section('settings')
          @!section('not-found')
      </div>

      <div class="sidebarR">
        <div class="dark-mode">
          <p>Dark Mode</p>
          <label class="switch">
            <input type="checkbox" id="switch">
            <span class="slider"></span>
          </label>
        </div>
      </div>


    </div>
</body>
<style>
  
</style>
</html>

