*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: var(--color-background);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 0px;
    margin: 0px; 
}
    
.profile{
    position: relative;
    left: 20vw;
    width: calc(60vw - 18px);
}

.timeline{
    position: fixed;
    top: 0;
    left: calc(20vw + 1.5px);
    right: calc(20vw + 1.5px);
    display: flex;
    align-items: center;
    height: 7vh; 
    background-color: transparent;  
    border-bottom: 1.5px solid var(--color-border);
    z-index: 9999;
    backdrop-filter: blur(5px);
    color: var(--color-text);
}
.all-content{
    display: flex;
    flex-direction: row;
    border-bottom: 1.5px solid var(--color-border);
}
.photo-content{
    width: 95px;
    height: 95px;
    padding-top: 8vh;
    padding-left: 1.2vh;
    
}

.photo-content img{
    width: 100%;
    height: 100%;
    border-radius: 100%;
    box-shadow: 0px 0px 5px 1px var(--color-border);
}


.presentation{
    display: flex;
    margin-top: 7vh;
    flex-direction: column;
}

.presentation .button{
    padding: 0px 10px 10px 10px;
    
}

.presentation button{
    width: 22vh;
    height: 35px;
    padding: 10px;
    background-color: var(--color-1);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.profile .name {
    font-size: 24px;
    padding: 10px 10px 0px 10px;
    margin: 0px;
    color: var(--color-text);
}

.profile .email{
    margin: 0px;
    padding: 0px 10px 0px 10px;
    color: var(--color-text);
}


.profile .create p {
    display: inline-block; 
    margin-right: 10px; 
}

.timeline-menu{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.timeline-menu div{
    width: 100%;
    height: 7vh;
    border-right: 1px solid var(--color-border);
}

.timeline-menu a{
    text-decoration: none;
    color: var(--color-text);
}

.timeline-menu button{
    width: 100%;
    height: 7vh;
    border: none; 
    background: none; 
    padding: 0;
    margin: 0;
    color: var(--color-text);
}
.timeline-menu button:hover{
    background-color: #33333318; 
}

.usertimeline{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}


.usertimeline button:hover{
    cursor: pointer;
}

.follow {
    padding: 10px;
}

.follow button{
    display: inline-block;
    padding: 8px 16px;
    font-size: 14px;
    font-weight: bold;
    color: var(--color-text);
    background-color: for;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}

.follow .button-unfollow button{
    background-color: var(--color-2);
    color:#fff;
}

.followcounter{
    display: flex;
    padding: 10px;
    color: var(--color-text);
    flex-direction: row;
}
.followcounter p {
    padding-right: 10px ;
}








